
.main-header {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: top .6s ease, background .4s ease;
}

.main-header.show {
  top: 0;
}

.nav-container {
  max-width: 1300px;
  margin: auto;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(14px);
  border-radius: 0 0 24px 24px;
}

/* LOGO */
.nav-logo a {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: .35em;
  font-size: .9rem;
  text-decoration: none;
}
.nav-logo img {
  height: 34px;           /* ukuran ideal navbar */
  width: auto;
  display: block;
  filter: brightness(1); /* aman untuk dark mode */
}

/* MENU */
.nav-menu {
  display: flex;
  gap: 36px;
}

.nav-menu a {
  color: #000000;
  text-decoration: none;
  font-size: .85rem;
  letter-spacing: .15em;
  opacity: .75;
  position: relative;
  transition: opacity .3s ease;
}

.nav-menu a:hover {
  opacity: 1;
}

.nav-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #000000;
  transition: width .3s ease;
}

.nav-menu a:hover::after {
  width: 100%;
}

/* CTA */
.nav-btn {
  border: 1px solid rgba(0, 0, 0, 0.674);
  padding: 10px 22px;
  border-radius: 30px;
  font-size: .8rem;
  text-decoration: none;
  color: #000000;
  transition: all .3s ease;
}

.nav-btn:hover {
  background: #fff;
  color: #000;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .nav-menu {
    display: none;
  }
}


.store {
  max-width: 1300px;
  margin: auto;
  padding: 80px 40px;
}

/* SEGMENT */
.store-segment {
  margin-bottom: 140px;
}

/* BANNER */
.segment-banner {
  position: relative;
  height: 420px;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 60px;
}

.banner-slider img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity .30s ease;
}

.banner-slider img.active {
  opacity: 1;
}

.banner-caption {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}

.banner-caption span {
  letter-spacing: .3em;
  font-size: .75rem;
  opacity: .7;
}

.banner-caption h2 {
  font-size: 2.6rem;
  margin-top: 8px;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  gap: 35px;
}

/* PRODUCT CARD */
.product-item {
  background: #000000;
  border-radius: 18px;
  overflow: hidden;
  transition: transform .3s ease, box-shadow .3s ease;
}


.product-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 60px rgba(0,0,0,.6);
}

.product-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}


/* PRODUCT CARD FUNDAMENTAL PRODUCER */
.product-item-fundamental-producer {
  background: #000000;
  border-radius: 18px;
  overflow: hidden;
  transition: transform .3s ease, box-shadow .3s ease;
}

.product-item-fundamental-producer:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 60px rgba(0,0,0,.6);
}

.product-item-fundamental-producer img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-body-fundamental-producer {
  padding: 18px 20px 20px;
  color: #fff;

}

.product-body-fundamental-producer h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}


.subtitle {
  font-size: .9rem;
  opacity: .7;
}

.product-footer-fundamental-producer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* PRODUCT CARD FUNDAMENTAL creative DIRECTOR */
.product-item-fundamental-creative-director {
  background: #000000;
  border-radius: 18px;
  overflow: hidden;
  transition: transform .3s ease, box-shadow .3s ease;
}

.product-item-fundamental-creative-director:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 60px rgba(0,0,0,.6);
}

.product-item-fundamental-creative-director img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-body-fundamental-creative-director {
  padding: 18px 20px 20px;
  color: #fff;

}

.product-body-fundamental-creative-director h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}


.product-body {
  padding: 18px 20px 20px;
  color: #fff;
}


.product-body h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.subtitle {
  font-size: .9rem;
  opacity: .7;
}

.product-footer-fundamental-creative-director {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-footer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-weight: 600;
}

.preview-btn {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease;
}

.preview-btn:hover {
  background: #fff;
  color: #000;
}


/* PRODUCT CARD FUNDAMENTAL DIRECTOR */
.product-item-fundamental-director {
  background: #000000;
  border-radius: 18px;
  overflow: hidden;
  transition: transform .3s ease, box-shadow .3s ease;
}

.product-item-fundamental-director:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 60px rgba(0,0,0,.6);
}

.product-item-fundamental-director img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-body-fundamental-director {
  padding: 18px 20px 20px;
  color: #fff;

}

.product-body-fundamental-director h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}


.product-body {
  padding: 18px 20px 20px;
  color: #fff;
}


.product-body h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.subtitle {
  font-size: .9rem;
  opacity: .7;
}

.product-footer-fundamental-director {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-footer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-weight: 600;
}

.preview-btn {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease;
}

.preview-btn:hover {
  background: #fff;
  color: #000;
}

/* PRODUCT CARD FUNDAMENTAL EXPERT BOOK */
.product-item-fundamental-red-book {
  background: #000000;
  border-radius: 18px;
  overflow: hidden;
  transition: transform .3s ease, box-shadow .3s ease;
}

.product-item-fundamental-red-book:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 60px rgba(0,0,0,.6);
}

.product-item-fundamental-red-book img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-body-fundamental-red-book {
  padding: 18px 20px 20px;
  color: #fff;

}

.product-body-fundamental-red-book h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}


.product-body {
  padding: 18px 20px 20px;
  color: #fff;
}


.product-body h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.subtitle {
  font-size: .9rem;
  opacity: .7;
}

.product-footer-fundamental-red-book {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-footer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-weight: 600;
}

.preview-btn {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease;
}

.preview-btn:hover {
  background: #fff;
  color: #000;
}


/* ===========================
   PRODUCT – RESPONSIVE GRID
=========================== */

/* Tablet */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .store {
    padding: 80px 20px;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
/* ===========================
   FOOTER ABOUT – ALIGN FIX
=========================== */

.footer-about h3,
.footer-about p {
  margin-left: 0;
  padding-left: 0;
}

.footer-about p {
  max-width: none;      /* ⬅️ INI KUNCI */
}
